{% extends "admin_base.html" %}
{% block content %} 

<h5 class="admin">Categories</h5>
<div class="row">
  <form class="form-inline mb-2 mx-auto" method="post">
    <div class="form-row align-items-center mx-auto">
      <div class="col-auto">
        <input type="text" class="form-control" name="name" required placeholder="Category"/>
      </div>
      <div class="col-auto">
        <button type="submit" class="btn btn-primary" name="action" value="add">Add</button>
      </div>
    </div>
</div>
<div class="row">
  </form>
  <ul class="list-group container w-75">
    {% for category in categories %}
    <li class="list-group-item">{{ category.name }}
      <form method="post" class="float-right"><button type="submit" class="btn btn-danger" 
                                                                    name="action" value="delete"><i class="fa fa-trash"></i></button>
        <input type="hidden" name="id" value="{{ category.id }}"/></form></li>
    {% endfor %}
  </ul>
</div>

{% endblock %}
