{% extends "base.html" %}
{% block content %} 

<h2>Administration</h2>

<div class="row">
  <div class="col-12 col-md-6">
    <h5 class="admin">Categories</h5>

    <form class="form-inline mb-2 ml-auto" method="post">
      <input type="text" class="form-control" name="name" required placeholder="Category"/>
      <button type="submit" class="btn btn-primary" name="action" value="add_category">Add Category</button>
    </form>
    <ul class="list-group">
      {% for category in categories %}
      <li class="list-group-item">{{ category.name }}
      <form method="post" class="float-right"><button type="submit" class="btn btn-danger" 
                name="action" value="delete_category"><i class="fa fa-trash"></i></button>
        <input type="hidden" name="id" value="{{ category.id }}"/></form></li>
      {% endfor %}
    </ul>
  </div>
  <div class="col-12 col-md-6">
    <h5 class="admin">Users</h5>
    <form class="form-inline mb-2 ml-auto" method="post">
      <input type="text" class="form-control" name="name" required placeholder="Name"/>
      <button type="submit" class="btn btn-primary" name="action" value="add_user">Add User</button>
    </form>
    <table class="table">
      <thead>
        <tr>
          <th scope="col">Namee</th>
          <th scope="col">Passcode</th>
          <th scope="col">Actions</th>
        </tr>
      </thead>
      <tbody>
        {% for user in users %}
        <tr>
          <th scope="row">{{ user.name }}</th>
          <td>{{ user.passcode }}</td>
          <td><form method="post"><button type="submit" class="btn btn-danger" 
                name="action" value="delete_user"><i class="fa fa-trash"></i></button>
            <input type="hidden" name="id" value="{{ user.id }}"/></form></td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
</div>

  {% endblock %}
