{% extends "base.html" %}
{% block content %} 
{% if 'SITE_SUBTITLE' in config %}<h2 class="subtitle">{{ config.SITE_SUBTITLE }}</h2>{% endif %}
<p><button type="button" class="btn btn-outline-primary" data-toggle="modal" data-target="#votes-modal">My Votes</button>
<a href="{{ url_for('photos.download_photos') }}" class="btn btn-outline-primary" role="button">Download</a>
<button type="button" class="btn btn-outline-primary" data-toggle="modal" data-target="#upload-modal"><i class="fa fa-upload"></i> Upload</button>
</p>

{% with messages = get_flashed_messages() %}
{% for message in messages %}
<div class="alert alert-primary" role="alert">
  {{ message }}
</div>
{% endfor %}
{% endwith %}

<div class="row">
  <div class="container">
    <div class="row">
      {% for photo in photos.items %}
      <div class="col-4">
        <a href="{{ url_for('photos.view_photo',id=photo.id) }}"><img src="{{ url_for('photos.view_raw_photo',id=photo.id) }}"  class="img-thumbnail" style="image-orientation: from-image;"/></a>
      </div>
      {% endfor %}
    </div>
  </div>
</div>
<div class="row">
  <div class="col-12">
    <nav aria-label="...">
      <ul class="pagination" style="justify-content: center;">
        <li class="page-item {{'disabled' if not photos.has_prev }}">
          <a class="page-link" href="{{'#' if photos.has_prev else "?page="+(photos.prev_num|string) }}" tabindex="-1">&#x25c0;</a>
        </li>
        <li class="page-item {{'disabled' if not photos.has_next }}">
          <a class="page-link" href="{{'#' if photos.has_next else "?page="+(photos.next_num|string) }}">&#x25ba;</a>
        </li>
      </ul>
    </nav>
  </div>

</div>

<div class="modal fade" tabindex="-1" id="upload-modal" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <form method="post" enctype="multipart/form-data" action="{{ url_for('photos.upload') }}">
        <div class="modal-header">
          <h5 class="modal-title">Upload Photos</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <input class="form-control-file" type="file" name="photo[]" multiple="">
          <label for="category">Category</label>
          <select class="form-control" id="category" name="category">
            {% for category in categories %}
            <option value="{{ category.id }}">{{ category.name }}</option>
            {% endfor %}
          </select>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          <button type="submit" class="btn btn-primary" name="action" action="upload">Upload</button>
        </div>
      </form>
    </div>
  </div>
</div>

<div class="modal fade" id="votes-modal" tabindex="-1" role="dialog"
                                                       aria-labelledby="votesModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="votesModalLabel">Votes</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        {% for category in votes %}
        <h6>{{ category.name }}</h6>
        {% for photo in category.photos %}
        <div class="card" style="max-width;">
          <img class="card-img-top img-thumbnail" src="{{ url_for('photos.view_raw_photo',id=photo.id) }}" style="max-height: 200px; image-orientation: from-image;" alt="Ranked photo">
          <div class="card-body">
            <p class="card-text">Rank: {{ photo.votes[0].rank }}</p>
          </div>
        </div>
        {% endfor %}
        {% endfor %}
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
{% endblock %}
