{% extends "base.html" %}
{% block content %} 

{% with messages = get_flashed_messages() %}
{% for message in messages %}
<div class="alert alert-primary" role="alert">
  {{ message }}
</div>
{% endfor %}
{% endwith %}

<div class="row">
  <div class="col-12 mx-auto">
    <h5>Category: {{ photo.category.name if photo.category is not none else 'None' }}</h5>
  </div>
</div>
<div class="row">
  <div class="col-12 mx-auto">
    <img src="{{ url_for('photos.view_raw_photo',id=photo.id) }}"  class="img-thumbnail"style="image-orientation: from-image;"/>
  </div>
</div>
<div class="row">
  <div class="col-12 mx-auto">
  </div>
</div>
<div class="row">
  {% if current_user.id == photo.user_id or current_user.admin %}
  <div class="col-12">
    <form method="post">
      <button class="btn btn-danger w-50 m-2" type="submit" name="action" value="delete"><i class="fa fa-trash"></i> Delete</form>
    </form>
  </div>
  {% endif %}
  {% if current_user.id != photo.user_id and photo.category.voting_enabled %}
  <div class="col-12">
    <form method="post" class="mt-2 voting-form form-inline">
      <div class="form-row align-items-center mx-auto">
        <div class="col-auto">
          <label for="rank">Your Vote</label>
        </div>
        <div class="col-auto">
          <select class="form-control" name="rank" id="rank">
            <option value="" disabled selected></option>
            <option value="1">1st Choice</option>
            <option value="2">2nd Choice</option>
            <option value="3">3rd Choice</option>
          </select>
        </div>
        <div class="col-auto">
          <button class="btn btn-primary mx-auto" type="submit" name="action" value="vote">Vote</button>
        </div>
      </div>
    </form>
  </div>
  {% endif %}
</div>

<div class="row" style="margin-top: 40px;">
  <div class="col-12">
    <ul class="pagination" style="justify-content: center;">
      <li class="page-item {{'disabled' if not has_prev }}">
        <a class="page-link" href="{{'#' if not has_prev else url_for('photos.view_photo', id=prev_num) }}" tabindex="-1">&#x25c0;</a>
      </li>
      <li class="page-item">
        <a class="page-link" href="{{ url_for('photos.view_gallery') }}"><i class="fa fa-home"></i></a>
      </li>
      <li class="page-item {{'disabled' if not has_next }}">
        <a class="page-link" href="{{'#' if not has_next else  url_for('photos.view_photo', id=next_num) }}">&#x25ba;</a>
      </li>
    </ul>
  </div>
</div>

{% if not config.DISABLE_COMMENTS %}

<div class="container">
  <div class="row">
    <form method="post" style="width: 100%;">
      <textarea name="comment" class="form-control" placeholder="Comment on photo"></textarea>
      <button name="action" value="comment" type="submit" style="margin: 20px;" class="btn btn-primary float-right">Add Comment</button>
    </form>
  </div>
  <div class="row">Comments</div>
  {% if photo.comments is not none %}
  {% for comment in photo.comments %}
  <div class="row">
    <div class="card" style="width: 100%;">
      <div class="card-body">
        <blockquote class="blockquote mb-0">
          <p class="text-left">{{ comment.text }}</p>
          <footer class="blockquote-footer float-right">{{ comment.user.name }}</footer>
        </blockquote>
      </div>
    </div>
  </div>
  {% endfor %}
  {% else %}
  <div class="row">
    <p style="font-style: italic;">There are no comments on this photo yet.</p>
  </div>
  {% endif %}
</div>
</div>
{% endif %}

{% endblock %}
